In [1]:
import numpy as np
import pandas as pd

In [2]:
# loading datasets as df 
df = pd.read_csv('credit_data.csv')

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.shape

(284807, 31)

In [5]:
df.value_counts('Class')

Class
0    284315
1       492
Name: count, dtype: int64

 0 --> legit transaction\
 1 --> fraudlet trasaction

In [6]:
legit = df[df.Class==0]
fraud = df[df.Class==1]

In [7]:
print(legit.shape, fraud.shape)

(284315, 31) (492, 31)

Under Sampling

Build a sample dataset containing similar distribution like legit and fraundiet transaction

Number of Fraudlet transaction --> 492

In [10]:
legit_sample = legit.sample(n=492)
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
42518,41134.0,-0.358531,-3.299624,-0.449188,0.164035,-2.080510,-0.934562,0.734327,-0.511827,-0.976163,...,0.720427,-0.035679,-0.807185,0.788158,0.134678,-0.325570,-0.163797,0.177473,916.14,0
201947,134105.0,0.037517,0.939474,-1.291032,-0.167928,0.420333,-0.672352,0.817182,0.224679,-0.562620,...,0.413355,1.060832,0.039829,-0.530674,-0.196777,-0.145120,-0.092125,-0.051185,94.30,0
163435,115938.0,1.284181,-1.581024,-1.299586,0.132882,0.248585,1.907352,-0.354963,0.530050,0.894010,...,-0.164327,-1.006699,0.232182,-0.961643,-0.892844,0.194317,-0.065069,-0.013645,322.09,0
68219,52885.0,-0.808441,1.303253,0.824576,0.692716,0.906996,1.145074,0.623029,0.125322,0.182054,...,-0.172317,0.092152,-0.356952,-1.308641,0.107409,-0.189565,0.332183,0.081613,3.52,0
220690,142270.0,1.992437,-0.083692,-1.173919,1.469003,0.666235,0.747684,-0.202226,0.069800,-0.813137,...,-0.092961,-0.341353,0.174594,-0.243348,-0.467968,2.149735,-0.205393,-0.083401,39.20,0

In [11]:
legit_sample.shape

(492, 31)

In [12]:
new_df = pd.concat([legit_sample,fraud], axis=0)

In [13]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
42518,41134.0,-0.358531,-3.299624,-0.449188,0.164035,-2.080510,-0.934562,0.734327,-0.511827,-0.976163,...,0.720427,-0.035679,-0.807185,0.788158,0.134678,-0.325570,-0.163797,0.177473,916.14,0
201947,134105.0,0.037517,0.939474,-1.291032,-0.167928,0.420333,-0.672352,0.817182,0.224679,-0.562620,...,0.413355,1.060832,0.039829,-0.530674,-0.196777,-0.145120,-0.092125,-0.051185,94.30,0
163435,115938.0,1.284181,-1.581024,-1.299586,0.132882,0.248585,1.907352,-0.354963,0.530050,0.894010,...,-0.164327,-1.006699,0.232182,-0.961643,-0.892844,0.194317,-0.065069,-0.013645,322.09,0
68219,52885.0,-0.808441,1.303253,0.824576,0.692716,0.906996,1.145074,0.623029,0.125322,0.182054,...,-0.172317,0.092152,-0.356952,-1.308641,0.107409,-0.189565,0.332183,0.081613,3.52,0
220690,142270.0,1.992437,-0.083692,-1.173919,1.469003,0.666235,0.747684,-0.202226,0.069800,-0.813137,...,-0.092961,-0.341353,0.174594,-0.243348,-0.467968,2.149735,-0.205393,-0.083401,39.20,0

In [14]:
new_df.shape

(984, 31)

In [15]:
new_df['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64